@use "../../styles/variables.scss" as *;
@use "./shared-list-items.scss" as shared;

.toc {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  &.desktop-only {
    max-height: 40%;
  }
}

@media all and not ($mobile) {
  .toc {
    display: flex;
  }
}

button#toc {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    @extend %component-title-shared;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

#toc-content {
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  max-height: 100%;
  transition:
    max-height 0.35s ease,
    visibility 0s linear 0s;
  position: relative;
  visibility: visible;
  padding-left: 0.25rem;

  &.collapsed {
    max-height: 0;
    transition:
      max-height 0.35s ease,
      visibility 0s linear 0.35s;
    visibility: hidden;
  }

  &.collapsed>.overflow::after {
    opacity: 0;
  }

  & ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;

    &>li {
      margin-bottom: 0.25rem;
    }

    &>li>a {
      color: var(--dark);
      opacity: 0.35;
      transition:
        0.5s ease opacity,
        0.3s ease color;
      font-size: 0.9rem;
      font-weight: 400;
      display: block;
      padding: 0.2rem 0;
      text-decoration: none;
      border-radius: 4px;

      &:hover {
        opacity: 0.6;
        text-decoration: none;
        background-color: var(--highlight);
        padding-left: 0.25rem;
      }

      &.in-view {
        opacity: 0.75;
        font-weight: 500;
      }
    }
  }

  >ul.overflow {
    max-height: none;
    width: 100%;
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});

      // Add visual cues for depth
      @if $i >0 {
        font-size: calc(0.9rem - 0.05rem * min(#{$i}, 2));
        opacity: calc(0.35 - 0.03 * #{$i});
      }
    }
  }
}